Repository CCRI-POPROX/poprox-recommender: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-toml-files, format-yaml-files

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: format-toml-files
        name: toml-format
        entry: taplo
        args: ["format"]
        files: \.toml$
        language: node
      - id: format-yaml-files
        name: yaml-format
        files: \.ya?ml$
        exclude: conda-lock.yml
        entry: prettier
        args: [-w]
        language: node

Add PipelineState support to the LensKit pipeline
  src/poprox_recommender/lkpipeline/__init__.py
  src/poprox_recommender/lkpipeline/state.py
  tests/lkpipeline/test_pipeline.py
  tests/lkpipeline/test_pipeline_state.py
Due: none

use PipelineState to run recommendations
  src/poprox_recommender/default.py
  src/poprox_recommender/evaluation/offline.py
  src/poprox_recommender/handler.py
Due: none

pass state around the evaluator
  src/poprox_recommender/evaluation/offline.py
Due: none

update tests for new PipelineState outputs
  tests/components/test_topic_calibration.py
  tests/integration/test_smoke.py
Due: none

Set up automatic CI deploys (#82)
  .github/workflows/deploy.yml
Due: format-yaml-files

add shell overrides for Mamba environment
  .github/workflows/deploy.yml
Due: format-yaml-files

fix region variable
  .github/workflows/deploy.yml
Due: format-yaml-files

use command line instead of action
  .github/workflows/deploy.yml
Due: format-yaml-files

apply the Copier template
  .copier-answers.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE.md
  dev/environment.yml
  pyproject.toml
  src/poprox_recommender/__init__.py
Due: format-toml-files, format-yaml-files

update template
  .copier-answers.yml
Due: format-yaml-files

bump copier template
  .copier-answers.yml
  dev/environment.yml
Due: format-yaml-files

update template with sdist contents
  .copier-answers.yml
  pyproject.toml
Due: format-toml-files, format-yaml-files

add dockerfile
  Dockerfile
Due: none

Improve the legibility of `Concatenate` with a docstring and some tweaks
  src/poprox_recommender/components/joiners/concat.py
Due: none

Simplify the implementation of `Fill`
  src/poprox_recommender/components/joiners/fill.py
Due: none

Use `itertools.zip_longest` in `Interleave` for readability
  src/poprox_recommender/components/joiners/interleave.py
Due: none

Replace fallback pipeline with joiners like concat, fill, interleave (#76)
  src/poprox_recommender/components/diversifiers/mmr.py
  src/poprox_recommender/components/diversifiers/pfar.py
  src/poprox_recommender/components/diversifiers/topic_calibration.py
  src/poprox_recommender/components/embedders/user.py
  src/poprox_recommender/components/filters/topic.py
  src/poprox_recommender/components/joiners/__init__.py
  src/poprox_recommender/components/joiners/concat.py
  src/poprox_recommender/components/joiners/fill.py
  src/poprox_recommender/components/joiners/interleave.py
  src/poprox_recommender/components/rankers/topk.py
  src/poprox_recommender/components/samplers/uniform.py
  src/poprox_recommender/components/scorers/article.py
  src/poprox_recommender/default.py
  src/poprox_recommender/evaluation/offline.py
  tests/test_joiners.py
Due: none

Update to use Copier template (#84)
  .copier-answers.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  LICENSE.md
  dev/environment.yml
  pyproject.toml
  src/poprox_recommender/__init__.py
Due: format-toml-files, format-yaml-files

Move models to the appropriate devices after loading
  src/poprox_recommender/components/embedders/article.py
  src/poprox_recommender/components/embedders/user.py
Due: none

Adjust embedder components to load models from paths
  src/poprox_recommender/components/embedders/__init__.py
  src/poprox_recommender/components/embedders/article.py
  src/poprox_recommender/components/embedders/user.py
Due: none

Cache full pipelines instead of models
  src/poprox_recommender/default.py
  src/poprox_recommender/evaluation/offline.py
  src/poprox_recommender/handler.py
  src/poprox_recommender/model/__init__.py
Due: none

Rework the rankers/diversifiers to take explicit parameters
  src/poprox_recommender/components/diversifiers/mmr.py
  src/poprox_recommender/components/diversifiers/pfar.py
  src/poprox_recommender/components/diversifiers/topic_calibration.py
  src/poprox_recommender/components/rankers/__init__.py
  src/poprox_recommender/components/rankers/topk.py
Due: none

Adjust component construction in default recommender
  src/poprox_recommender/default.py
Due: none

Avoid using the model to do a dot product in ArticleScorer
  src/poprox_recommender/components/scorers/article.py
Due: none

Add `embedding_size` property to `NewsEncoder`
  src/poprox_recommender/model/nrms/news_encoder.py
Due: none

Adjust NRMS model encoders to take params instead of full config
  src/poprox_recommender/model/nrms/__init__.py
  src/poprox_recommender/model/nrms/news_encoder.py
  src/poprox_recommender/model/nrms/user_encoder.py
Due: none

Update tests to stop passing `num_recs`
  tests/components/test_topic_calibration.py
  tests/integration/test_smoke.py
Due: none

Add safetensors files for user and news encoder to DVC
  models/.gitignore
  models/news_encoder.safetensors.dvc
  models/user_encoder.safetensors.dvc
Due: none

Import LensKit pipeline config support
  src/poprox_recommender/lkpipeline/__init__.py
  src/poprox_recommender/lkpipeline/components.py
  src/poprox_recommender/lkpipeline/config.py
  src/poprox_recommender/lkpipeline/nodes.py
  src/poprox_recommender/lkpipeline/runner.py
  src/poprox_recommender/lkpipeline/types.py
  tests/lkpipeline/test_component_config.py
  tests/lkpipeline/test_config_node.py
  tests/lkpipeline/test_pipeline.py
  tests/lkpipeline/test_pipeline_clone.py
  tests/lkpipeline/test_save_load.py
  tests/lkpipeline/test_types.py
Due: none

return pipeline metadata with the pipeline state
  src/poprox_recommender/lkpipeline/__init__.py
  src/poprox_recommender/lkpipeline/state.py
  tests/lkpipeline/test_pipeline.py
Due: none

add diversifier name to pipeline
  src/poprox_recommender/default.py
Due: none

add docs to pipeline meta
  src/poprox_recommender/lkpipeline/state.py
Due: none

Use the new LensKit pipeline abstraction (#81)
  src/poprox_recommender/default.py
  src/poprox_recommender/evaluation/offline.py
  src/poprox_recommender/handler.py
  src/poprox_recommender/lkpipeline/__init__.py
  src/poprox_recommender/lkpipeline/components.py
  src/poprox_recommender/lkpipeline/nodes.py
  src/poprox_recommender/lkpipeline/runner.py
  src/poprox_recommender/lkpipeline/state.py
  src/poprox_recommender/lkpipeline/types.py
  tests/components/test_topic_calibration.py
  tests/integration/test_smoke.py
  tests/lkpipeline/test_pipeline.py
  tests/lkpipeline/test_pipeline_config.py
  tests/lkpipeline/test_pipeline_state.py
  tests/lkpipeline/test_pipeline_types.py
Due: none
