Repository CCRI-POPROX/poprox-recommender: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-toml-files, format-yaml-files

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: format-toml-files
        name: toml-format
        entry: taplo
        args: ["format"]
        files: \.toml$
        language: node
      - id: format-yaml-files
        name: yaml-format
        files: \.ya?ml$
        exclude: conda-lock.yml
        entry: prettier
        args: [-w]
        language: node

bake the model data into the docker image
  Dockerfile
Due: none

re-import updated path logic
  src/poprox_recommender/default.py
  src/poprox_recommender/paths.py
  src/poprox_recommender/test_offline.py
Due: none

move data and models out of src
  data/.gitignore
  data/test_mind_large.dvc
  data/val_mind_large/.gitignore
  data/val_mind_large/behavior_uuid_ID.json.dvc
  data/val_mind_large/mind_test.json.dvc
  data/val_mind_large/news_uuid_ID.json.dvc
  models/.gitignore
  models/ckpt-30000.pth.dvc
  models/model.safetensors.dvc
  models/word2int.tsv.dvc
Due: none

drop hatch file include
  pyproject.toml
Due: format-toml-files

correct model paths in docker
  .github/workflows/docker-image.yml
  .github/workflows/run-tests.yml
Due: format-yaml-files

pull correct model directory
  .github/workflows/docker-image.yml
Due: format-yaml-files

add tests for the paths module
  tests/test_paths.py
Due: none

update python minimum to 3.11 for tomlllib
  pyproject.toml
  src/poprox_recommender/paths.py
Due: format-toml-files

improve debugging & remove pyproject.toml parsing
  src/poprox_recommender/paths.py
Due: none

log and cache the project root
  src/poprox_recommender/paths.py
Due: none

use yamlfmt for yaml file formatting
  .pre-commit-config.yaml
Due: format-yaml-files

add yamlfmt configuration
  .yamlfmt
Due: none

reformat serverless.yml with yamlfmt
  serverless.yml
Due: format-yaml-files

use pathlib style for project root in test_offline
  src/poprox_recommender/test_offline.py
Due: none

Revise path logic and move models and data to top-level (#30)
  .github/workflows/docker-image.yml
  .github/workflows/run-tests.yml
  Dockerfile
  data/.gitignore
  data/test_mind_large.dvc
  data/val_mind_large/.gitignore
  data/val_mind_large/behavior_uuid_ID.json.dvc
  data/val_mind_large/mind_test.json.dvc
  data/val_mind_large/news_uuid_ID.json.dvc
  models/.gitignore
  models/ckpt-30000.pth.dvc
  models/model.safetensors.dvc
  models/word2int.tsv.dvc
  pyproject.toml
  src/poprox_recommender/default.py
  src/poprox_recommender/paths.py
  src/poprox_recommender/test_offline.py
  tests/test_paths.py
Due: format-toml-files, format-yaml-files

Switch to yamlfmt for YAML formatting in pre-commit (#33)
  .pre-commit-config.yaml
  .yamlfmt
  serverless.yml
Due: format-yaml-files

refactor Conda dependencies into files and categories
  conda-lock.yml
  dev/constraints.yml
  dev/environment.yml
  pyproject.toml
Due: format-toml-files, format-yaml-files

drop unused test category
  .github/workflows/run-tests.yml
Due: format-yaml-files

use mamba environment to create and test docker image
  .github/workflows/docker-image.yml
Due: format-yaml-files

install docker tooling from environment.yml
  .github/workflows/docker-image.yml
Due: format-yaml-files

Install deps when running tests
  .github/workflows/run-tests.yml
Due: format-yaml-files

Refactor Conda dependency specifications (#34)
  .github/workflows/docker-image.yml
  .github/workflows/run-tests.yml
  conda-lock.yml
  dev/constraints.yml
  dev/environment.yml
  pyproject.toml
Due: format-toml-files, format-yaml-files

Update `click_topics` to `click_topic_counts`
  src/poprox_recommender/default.py
Due: none

Integrate `InterestProfile`
  src/poprox_recommender/default.py
  src/poprox_recommender/handler.py
  tests/basic-request.json
Due: none

Clean up click history code
  src/poprox_recommender/default.py
Due: none

Normalize topics after combining onboarding with clicks
  src/poprox_recommender/default.py
Due: none

Use a shared list of the general topics from `poprox-concepts`
  src/poprox_recommender/topics.py
Due: none

Combine topic distributions
  src/poprox_recommender/default.py
Due: none

Update the smoke test to use interest profile
  tests/test_smoke.py
Due: none

Update PFAR test to use general topics from `poprox-concepts`
  tests/test_pfar.py
Due: none

Update lockfile with new version of `poprox-concepts`
  conda-lock.yml
Due: none

remove nonfunctional lock script from hatch
  pyproject.toml
Due: format-toml-files

add shell script to relock dependencies reliably
  dev/update-dep-lock.sh
Due: none

relock dependencies
  conda-lock.yml
Due: none

add TODO to update with bug fix
  dev/update-dep-lock.sh
Due: none

Document the update script
  README.md
Due: none
