Repository CCRI-POPROX/poprox-recommender: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-toml-files, format-yaml-files

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: format-toml-files
        name: toml-format
        entry: taplo
        args: ["format"]
        files: \.toml$
        language: node
      - id: format-yaml-files
        name: yaml-format
        files: \.ya?ml$
        exclude: conda-lock.yml
        entry: prettier
        args: [-w]
        language: node

add pre-commit to dev deps
  pyproject.toml
Due: format-toml-files

add category/--dev docs to README
  README.md
Due: none

add pre-commit test to CI
  .github/workflows/check-source.yml
Due: format-yaml-files

NPM deps need to be installed for dev environment to work
  .github/workflows/check-source.yml
  README.md
Due: format-yaml-files

specify pre-commit deps in pre-commit
  .github/workflows/check-source.yml
  .pre-commit-config.yaml
  README.md
  package-lock.json
  package.json
Due: format-yaml-files

exit with error on pre-commit failure
  .github/workflows/check-source.yml
Due: format-yaml-files

attach errors to each file
  .github/workflows/check-source.yml
Due: format-yaml-files

fix sed invocation
  .github/workflows/check-source.yml
Due: format-yaml-files

Address PR comments and update tests
  src/poprox_recommender/default.py
  src/poprox_recommender/handler.py
  src/poprox_recommender/topics.py
  tests/test_pfar.py
Due: none

Run Ruff and report linting errors
  .github/workflows/check-source.yml
Due: format-yaml-files

fix typo in name
  .github/workflows/check-source.yml
Due: format-yaml-files

format docker image
  .github/workflows/docker-image.yml
Due: format-yaml-files

exclude our test script from test naming
  .pre-commit-config.yaml
Due: format-yaml-files

document editor setup
  README.md
Due: none

connect general topic extraction to click history
  src/poprox_recommender/default.py
  src/poprox_recommender/handler.py
  src/poprox_recommender/topics.py
  tests/test_pfar.py
Due: none

pfar diversification draft (#16)
  src/poprox_recommender/default.py
  src/poprox_recommender/handler.py
  src/poprox_recommender/test_offline.py
  src/poprox_recommender/topics.py
  tests/.gitignore
  tests/request_body.json.dvc
  tests/test_pfar.py
Due: none

add VSCode extension recommendations
  .vscode/extensions.json
  README.md
Due: none

fix main branch lint
  .pre-commit-config.yaml
  src/poprox_recommender/default.py
  src/poprox_recommender/handler.py
  src/poprox_recommender/topics.py
  tests/test_pfar.py
Due: format-yaml-files

relock + drop explicit node dep for now
  conda-lock.yml
  pyproject.toml
Due: format-toml-files

Revise pre-commit config and enable on CI (#29)
  .github/workflows/check-source.yml
  .github/workflows/docker-image.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  conda-lock.yml
  pyproject.toml
  src/poprox_recommender/default.py
  src/poprox_recommender/handler.py
  src/poprox_recommender/topics.py
  tests/test_pfar.py
Due: format-toml-files, format-yaml-files

Use `pathlib` for paths instead of strings for Windows compatibility
  src/poprox_recommender/default.py
  src/poprox_recommender/test_offline.py
Due: none

Use `pathlib` for paths instead of strings for Windows compatibility (#32)
  src/poprox_recommender/default.py
  src/poprox_recommender/test_offline.py
Due: none

fix cache keys
  .github/workflows/docker-image.yml
  .github/workflows/run-tests.yml
Due: format-yaml-files

fix bogus import
  tests/test_serverless_offline.py
Due: none

add --category main
  .github/workflows/run-tests.yml
  README.md
Due: format-yaml-files

make pytest ignore test_pfar
  tests/test_pfar.py
Due: none

install editable recommender for tests
  .github/workflows/run-tests.yml
Due: format-yaml-files

add PyTest CI run + serverless test
  .github/workflows/run-tests.yml
  conda-lock.yml
  pyproject.toml
  tests/test_serverless_offline.py
Due: format-toml-files, format-yaml-files

fix --category
  .github/workflows/run-tests.yml
Due: format-yaml-files

fix hash key paths
  .github/workflows/docker-image.yml
  .github/workflows/run-tests.yml
Due: format-yaml-files

cache the model data
  .github/workflows/docker-image.yml
  .github/workflows/run-tests.yml
Due: format-yaml-files

sleep before running curl
  .github/workflows/run-tests.yml
Due: format-yaml-files

add serverless CI test
  .github/workflows/run-tests.yml
Due: format-yaml-files

properly fix model hash path
  .github/workflows/docker-image.yml
  .github/workflows/run-tests.yml
Due: format-yaml-files

add direct-API smoke test
  tests/test_smoke.py
Due: none

Add CI test to ensure recommender runs directly and with serverless offline (#31)
  .github/workflows/docker-image.yml
  .github/workflows/run-tests.yml
  README.md
  conda-lock.yml
  pyproject.toml
  tests/test_pfar.py
  tests/test_serverless_offline.py
  tests/test_smoke.py
Due: format-toml-files, format-yaml-files
